{% set nbrL=item.actionLinks | length %}
{% set nbrF=item.actionFiles | length %}
{% if nbrL>0 or nbrF>0 %}

<article id="file" class="bg-white">
	<h3 id="anchor_cadrage" class="text-p-dark2 pt-5">
		<small>
			<i class="fas fa-crop-alt"></i>
		</small>
		Fichiers de l'actions
	</h3>


	{% import "macros/file.html.twig" as file %}
	<div class=" list-blk mt-4">
		<table class="table table-hover bg-white">
			<colgroup>
				<col class="col-lg-1">
				<col class="col-lg-8">
				<col class="col-lg-2">
				<col class="col-lg-1">
			</colgroup>
			<thead class="thead-default">
				<tr>
					<th class="bg-p-dark"></th>
					<th class="bg-p-dark text-p-light">
						Nom
					</th>
					<th class="hidden-xs text-center bg-p-dark text-p-light">
						Date
					</th>
					<th class="hidden-xs bg-p-dark text-p-light">
						Taille
					</th>
				</tr>
			</thead>
			<tbody>
				{{ file.showFiles(item.actionFiles,item,'action_file_show') }}
				{{ file.showLinks(item.actionLinks) }}
			</tbody>
		</table>
	</div>

</article>
{% endif %}