<!-- Intervenants -->
{% import 'macros/corbeille.html.twig' as cbl %}


<section id="anchor_intervenant" class="bg-white">
	<h5 class="text-p-dark2 p-1  text-center ">
		Intervenants
	</h5>
	{% if item.validers.count >0 %}

		<article class="card-body ">
			<h6>Valideur</h6>
			<div class="list-group list-group-flush  bg-light">
				{% set datas = item.validers %}
				{% set nbr = datas.count %}
				{% if nbr>0 %}
					{{ cbl.listing(datas) }}
				{% else %}
					<div class="list-group-item">En attente d'ajout</div>
				{% endif %}
			</div>
		</article>
	{% endif %}
	{% if item.writers.count >0 %}

		<article class="card-body ">
			<h6>Pilote</h6>
			<div class="list-group list-group-flush  bg-light">
				{% set datas = item.writers %}
				{% set nbr = datas.count %}
				{% if nbr>0 %}
					{{ cbl.listing(datas) }}
				{% else %}
					<div class="list-group-item">En attente d'ajout</div>
				{% endif %}
			</div>
		</article>
	{% endif %}
	{% if item.isShowall %}
		<article class="card-body ">
			<div class="mt-4 p-3 col-12 bg-light text-xs">
				<span class="text-muted">
					Consultable par l'ensemble des utilisateurs connectés
				</span>
			</div>
		</article>
	{% elseif item.readers.count >0 %}
		<article class="card-body ">
			<h5 class="card-title  p-2  bg-light ">Consultant</h5>
			<div class="list-group list-group-flush">
				{% set datas = item.readers %}
				{% set nbr = datas.count %}
				{% if nbr>0 %}
					{{ cbl.listing(datas) }}
				{% else %}
					<div class="list-group-item">En attente d'ajout</div>
				{% endif %}

			</div>
		</article>
	{% endif %}
</section>
