<!-- Intervenants -->
<section>
	<h5 class="text-p-dark2 p-1  text-center ">
		Destinataires
	</h5>
	<div class="card-body">

		<div class="form-group row">
			<label for="{{ form.deployementWriter.vars.id }}">
				Pilotes des déploiements
			</label>
			{{ form_widget(form.deployementWriter) }}
		</div>

	</div>
</section>
