<article class="card-body pt-2 js-createTip-wrapper">

	<div class="createTip mt-3">
		<div class="createTip__title">
			La référence
		</div>
		<p>
			La référence .
		</p>
	</div>

	<h5 class="text-p-dark2 pl-1 pb-2 text-center ">
		Référence
	</h5>
	<div class="form-group row">
		{{ form_widget(form.ref) }}
	</div>
</article>
