<section class="card-body  bg-white js-createTip-wrapper ">
	<div class="createTip ">
		<div class="createTip__title">
			Afficher
		</div>
		<p>
			Permet de rendre l'indicateur visible aux organismes.
		</p>
	</div>


	<div class="form-group row">
		<div class="col-2 mt-1">
			{{ form_widget(form.isEnable) }}
		</div>
		<div class="col-10 mt-1">
			<label for="{{ form.isEnable.vars.id }}">
				Afficher
			</label>
		</div>

	</div>
</section>
