{% set nbrL=item.deployementLinks | length %}
{% set nbrF=item.deployementFiles | length %}
{% if nbrL>0 or nbrF>0 %}

<article id="file" class="bg-white">
	<h3 id="anchor_cadrage" class="text-p-dark2 pt-3">
		<small>
			<i class="fas fa-crop-alt"></i>
		</small>
		Fichiers du déploiement
	</h3>


	{% import "macros/file.html.twig" as file %}
	{% import "macros/link.html.twig" as link %}
	<div class=" list-blk">
		<table class="table table-hover bg-white">
			<colgroup>
				<col class="col-lg-1">
				<col class="col-lg-8">
				<col class="col-lg-2">
				<col class="col-lg-1">
			</colgroup>

			<tbody>
				{{ file.showFiles(item.deployementFiles,item,'deployement_file_show_secure') }}
				{{ link.showLinks(item.deployementLinks) }}
			</tbody>
		</table>
	</div>


</article>
{% endif %}