{% import "macros/taux.html.twig" as tx %}


        <div class="info-box bg-p-light  ">
            <div class="info-box-content">
                <span class="info-box-text text-center text-muted">Taux</span>
                <span class="info-box-number text-center  text-lg mb-0">
                    {{ tx.showBar(item.taux1,item.taux2 ) }}
                </span>
            </div>
        </div>
