<section class="card-body js-createTip-wrapper">
	<div class="createTip mt-5">
		<div class="createTip__title">
			Fin de déploiement
		</div>
		<p>
			La date de fin permet de clôturer le déploiement
		</p>
		<p>
			L'intérêt de cette clôture réside dans le fait de conserver uniquement que les déploiements actifs.
		</p>
	</div>


	<h5 class="text-p-dark2 pl-1 pb-2 text-center ">
		Fin de déploiement
	</h5>
	<div class="form-group row ">
		{{ form_widget(form.endAt) }}
	</div>
</section>
