<!-- indicateurs -->
{% import "macros/save.html.twig" as save %}

<h3 id="anchor_indicateur" class="text-p-dark2">
	<small>
		<i class="fas fa-chart-line"></i>
	</small>
	Indicateurs
</h3>
<section class="col-12">
	{% set nbr= item | organismeIndicateurDeployed %}

	{% if nbr==0 %}
		<article class="card-body">
			<div class="mt-4 p-3 col-12 bg-light">
				<span class="text-muted">
					Aucun indicateur actif
				</span>
			</div>
		</article>

	{% else %}
		{% for indicatorvalue in item.indicatorvalues %}
			{% if indicatorvalue.isEnable and indicatorvalue.indicator.isEnable %}
				{{ include('indicatorvalue/_append_edit/_edit.html.twig',{'indicatorvalue':indicatorvalue}) }}
{{ save.btn()}}

			{% endif %}
		{% endfor %}
	{% endif %}
</section>
